<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty App</title>
    <link rel="shortcut icon" href="./assets/img/faviconOf.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <!-- Barra de navegación fija en la parte superior -->
        <header class="sticky-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <div class="container-fluid ">
                    <!-- Logo y nombre de la app -->
                    <a class="navbar-brand" href="./index.html">
                        <img src="./assets/img/58f37720a4fa116215a9240f.png" alt="Logo" width="120" height="30"
                            class="d-inline-block align-text-top">
                    </a>
                    <!-- Botón para menú responsivo -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Elementos de navegación -->
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <!-- Enlaces de navegación con eventos de Vue -->
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="./index.html" @click="currentPage = 'home'">Home</a>
                            </li>
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="./Stats.html" @click="currentPage = 'stats'">Estadísticas</a>
                            </li>
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="#" @click="openFavoritesModal">Favoritos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" @click="currentPage = 'episodes'">Episodios</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Banner de bienvenida -->
        <div class="banner">
            <div class="banner-content">
                <h1>Bienvenido al Universo de Rick and Morty</h1>
                <p>Explora personajes de múltiples dimensiones y realidades</p>
            </div>
        </div>

        <main class="container mt-4">
            <!-- Sección Home -->
            <div v-if="currentPage === 'home'">
                <!-- Barra de búsqueda y filtros -->
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <input v-model="searchText" class="form-control" placeholder="Buscar personajes">
                    </div>
                    <div class="col-md-3 mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" v-model="filterAlive" id="aliveFilter">
                            <label class="form-check-label" for="aliveFilter">
                                Solo personajes vivos
                            </label>
                        </div>
                    </div>
                </div>
                <!-- Lista de personajes -->
                <div class="row">
                    <!-- Tarjeta de personaje (se repite para cada personaje) -->
                    <div v-for="character in filteredCharacters" :key="character.id" class="col-md-3 mb-3">
                        <div class="card">
                            <img :src="character.image" class="card-img-top" :alt="character.name">
                            <div class="card-body">
                                <h5 class="card-title">{{ character.name }}</h5>
                                <p class="card-text">Status: {{ character.status }}</p>
                                <button @click="showDetails(character)" class="btn btn-primary m-2">Ver
                                    detalles</button>
                                <button @click="addToFavorites(character)" class="btn btn-secondary">Añadir a
                                    favoritos</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Barra de paginación -->
                <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
                    <ul class="pagination">
                        <!-- Botón página anterior -->
                        <li class="page-item" :class="{ disabled: currentPageNumber === 1 }">
                            <a class="page-link" href="#" aria-label="Previous"
                                @click.prevent="goToPage(currentPageNumber - 1)">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!-- Números de página -->
                        <li v-for="page in paginationRange" :key="page" class="page-item"
                            :class="{ active: page === currentPageNumber }">
                            <a class="page-link" href="#" @click.prevent="goToPage(page)">{{ page }}</a>
                        </li>
                        <!-- Botón página siguiente -->
                        <li class="page-item" :class="{ disabled: currentPageNumber === totalPages }">
                            <a class="page-link" href="#" aria-label="Next"
                                @click.prevent="goToPage(currentPageNumber + 1)">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Sección Stats (por implementar) -->
            <div v-if="currentPage === 'stats'">
                <h2>Estadísticas de Personajes</h2>
                <!-- Aquí se pueden agregar más elementos de estadísticas -->
            </div>

            <!-- Sección Details (detalles del personaje) -->
            <div v-if="currentPage === 'details'" class="character-details">
                <h2 class="text-center text-dark">Detalles del Personaje</h2>
                <div v-if="selectedCharacter" class="card details-card details-card-background">
                    <img :src="selectedCharacter.image" class="card-img-top" :alt="selectedCharacter.name">
                    <div class="card-body ddf">
                        <h3 class="card-title text-center">{{ selectedCharacter.name }}</h3>
                        <p class="card-text text-center"><strong>Status:</strong> {{ selectedCharacter.status }}</p>
                        <p class="card-text text-center"><strong>Species:</strong> {{ selectedCharacter.species }}</p>
                        <p class="card-text text-center"><strong>Gender:</strong> {{ selectedCharacter.gender }}</p>
                        <p class="card-text text-center"><strong>Origin:</strong> {{ selectedCharacter.origin.name }}
                        </p>
                        <p class="card-text text-center"><strong>Location:</strong> {{ selectedCharacter.location.name
                            }}</p>
                    </div>
                </div>
                <button @click="currentPage = 'home'" class="btn btn-primary mt-3">Volver a la lista</button>
            </div>

            <!-- Sección Episodios -->
            <div v-if="currentPage === 'episodes'">
                <h2 class="text-center mb-4">Episodios de Rick and Morty</h2>
                <div class="row">
                    <div v-for="episode in episodes" :key="episode.id" class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ episode.name }}</h5>
                                <p class="card-text">Episodio: {{ episode.episode }}</p>
                                <p class="card-text">Fecha de emisión: {{ episode.air_date }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Paginación para episodios -->
                <nav aria-label="Episodios pagination" class="d-flex justify-content-center mt-4">
                    <ul class="pagination">
                        <!-- Botón página anterior -->
                        <li class="page-item" :class="{ disabled: currentEpisodePage === 1 }">
                            <a class="page-link" href="#" aria-label="Previous"
                                @click.prevent="goToEpisodePage(currentEpisodePage - 1)">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!-- Números de página -->
                        <li v-for="page in episodePaginationRange" :key="page" class="page-item"
                            :class="{ active: page === currentEpisodePage }">
                            <a class="page-link" href="#" @click.prevent="goToEpisodePage(page)">{{ page }}</a>
                        </li>
                        <!-- Botón página siguiente -->
                        <li class="page-item" :class="{ disabled: currentEpisodePage === totalEpisodePages }">
                            <a class="page-link" href="#" aria-label="Next"
                                @click.prevent="goToEpisodePage(currentEpisodePage + 1)">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

    </div>
    </main>

    <!-- Pie de página -->
    <footer class="text-center text-lg-start mt-4">
        <div class="text-center p-3">
            © 2024 Rick and Morty App
        </div>
    </footer>

    <!-- Modal de Favoritos -->
    <div class="modal fade" id="favoritesModal" tabindex="-1" aria-labelledby="favoritesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="favoritesModalLabel">Personajes Favoritos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Mensaje si no hay favoritos -->
                    <div v-if="favorites.length === 0">
                        No tienes personajes favoritos aún.
                    </div>
                    <!-- Lista de personajes favoritos -->
                    <div v-else class="row">
                        <div v-for="character in favorites" :key="character.id" class="col-md-4 mb-3">
                            <div class="card">
                                <img :src="character.image" class="card-img-top" :alt="character.name">
                                <div class="card-body">
                                    <h5 class="card-title">{{ character.name }}</h5>
                                    <p class="card-text">Status: {{ character.status }}</p>
                                    <button @click="removeFromFavorites(character)" class="btn btn-danger">Eliminar de
                                        favoritos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Scripts de Bootstrap y la aplicación -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="app.js"></script>
</body>

</html>